body {
    background-color:beige;
}

#kwadraty > div {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    background-color: black;
    margin-bottom: 10px;
}
.one {
    opacity: 1;
}
.two {
    opacity: 0.8;
}
.three {
    opacity: 0.5;
}
.four {
    opacity: 0.2;
}